<div class="blade-content">
    <div class="blade-inner">
        <div class="inner-block">

            <div class='chat-wrapper'>


                <div class='chat-message padding'>

                    <div ng-repeat="message in blade.chatMessages.messages" class='chat-message'  ng-class="{'chat-message-recipient': message.createdBy !=  'admin','chat-message-sender': message.createdBy ==  'admin'}" >


                        <div class='chat-message-wrapper'>
                            <div class='chat-message-content'>
                                <p>{{message.text}}</p>
                            </div>

                            <div class='chat-details'>
                                <span class='chat-message-localization font-size-small'>{{message.createdDate | date:'yyyy-MM-dd HH:mm:ss '}}</span>
                                <span class='chat-message-read-status font-size-small'>- {{message.createdBy}}</span>
                            </div>

                        </div>
                    </div>
                    

                    <!--<div class='chat-message chat-message-sender'>

                        <div class='chat-message-wrapper'>
                            <div class='chat-message-content'>
                                <p>Pizza?</p>
                                <p>We had sushi last time!</p>
                                <p>For me one Vegetariana! Plus some chili oil on it!</p>
                            </div>

                            <div class='chat-details'>
                                <span class='chat-message-localisation font-size-small'>Time</span>
                                <span class='chat-message-read-status font-size-small'>- Date</span>
                            </div>

                        </div>
                    </div>


                    <div class='chat-message chat-message-recipient'>


                        <div class='chat-message-wrapper'>
                            <div class='chat-message-content'>
                                <p>Done. Delivery takes 5 minutes!</p>
                            </div>

                            <div class='chat-details'>
                                <span class='chat-message-localisation font-size-small'>Time</span>
                                <span class='chat-message-read-status font-size-small'>- Date</span>
                            </div>

                        </div>
                    </div>


                    <div class='chat-message chat-message-sender'>


                        <div class='chat-message-wrapper'>
                            <div class='chat-message-content'>
                                <p>Awesome! See you later! : )</p>
                            </div>

                            <div class='chat-details'>
                                <span class='chat-message-localization font-size-small'>Time</span>
                                <span class='chat-message-read-status font-size-small'>- Date</span>
                            </div>

                        </div>
                    </div>-->


                </div>
                <div class="chat-input" style="padding-bottom: 5px;">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="blade.newMess" style="padding: 5px; width: 75%;">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="blade.sendMessage(blade.newMess)">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>